.header__wrapper {
  box-sizing: border-box;
  min-height: 80px;
  width: 100%;
  background-color: black;
  padding: 0 100px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo h1 {
  line-height: 1;
}

.header__logoIcon {
  height: 32px;
  width: 32px;
  transform: translateY(2px);
}

.btn__icon {
  fill: #e50914;
}

.header__input {
  width: 350px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.header__btn {
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 1060px) {
  .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    box-sizing: border-box;
    padding: 25px 5px 25px 5px;
    gap: 5px;
  }
  .header__input {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 450px) {

  .header__btn {
    font-size: 20px;
  }
}
